.super-mario {
  width: 200px;
}

.goomba {
  position: absolute;
  top: 350px;
  left: 50px;
  width: 100px;
}

.baloon {
  position: absolute;
  top: 50px;
  left: 350px;
  transform: scaleX(-1);
}

.speach {
  position: absolute;
  top: 90px;
  left: 385px;
  z-index: 2;
  font-size: 25px;
}

.bowser {
  width: 200px;
}