h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
}

body {
  font-size: 16px;
}

p {
  font-weight: 600;
  font-size: 3em;
}

ul {
  background-color: lightyellow;
}

.ulp {
  background-color: lightgoldenrodyellow;
}

.fs {
  font-style: italic;
}

.lh {
  line-height: 50px;
}

.ta {
  text-align: center;
}

.td {
  text-decoration: underline overline;
}

.yellow {
  background-color: yellow;
  width: fit-content;
}

.red {
  background-color: red;
  width: fit-content;
}

.brown {
  background-color: brown;
  color: white;
  width: fit-content;
}