@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat:wght@200;400;500;600&display=swap');
body {
  background-color: aliceblue;
  color: #002652;
  font-family: Esteban, sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
h3 {
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #002652;
}
header {
  padding: 40px 40px;
  text-align: center;
  background-color: #EBF4FF;
  height: 400px;
}
main {
  margin: 300px 40px 0 40px;
  display: flex;
  justify-content: center;
}
article {
  max-width: 600px;
}
article section {
  margin: 0 0 60px 0;
}
aside {
  margin-left: 40px;
  max-width: 100px;
}
aside a {
  line-height: 1.75;
}
img {
  border-radius: 8px;
  max-width: 100%;
  width: auto;
  height: auto;
}
footer {
  background-color: #EBF4FF;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
#top-nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  background-color: #EBF4FF;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}
#nav-items {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav-items li {
  float: left;
}
#nav-items li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
#logo {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin: 10px 20px 7px;
  overflow: hidden;
}
#location { 
  font-size: 14px;
}
#article-title {
  margin-top: 20px;
  margin-bottom: 90px;
}

